# IDE files
.idea
*.iml

# Terraform files
terraform/.terraform
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/.terraform.lock.hcl


# Logs
*.log

# Local environment files
.env
.env.local

